
*{
    margin: 0;
    padding:0;
}
 #banner{
    background: linear-gradient(rgba(32, 27, 27, 0.993),#2a9da18f), url(meghalay.webp) ;
    height: 100vh;
    position: relative;
   
    
}
.background{ background-color:rgb(160, 89, 89) ;
             
            text-align : center;
            font-size: 20px;
           color: white;
           word-spacing: 10px;
           letter-spacing: 5px;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           text-decoration: underline;
           text-shadow:4px 4px 5px #00ff00;
           border:8px outset yellow;
           display: flex;
           white-space: nowrap;
}
.heading1{
       text-align: center;
      font-size: 150px;
      color:yellow ;
      margin-top: 20%; margin-bottom: 15%; margin-left: 15%; margin-right: 15%;
      font-style: italic;
      border-width:thick;
      border-width: 8px;
      border-style:groove red;
      background:url(meghalay.webp) ;
      border:8px ridge red;
      text-shadow:5px 5px 10px red;
      cursor: pointer;
      transition: .5s;
      position: absolute;
    }
.heading1 h1 a{
    color: yellow;
}
.box{
      

      transition: .5s;
      position: absolute;
      top: 12%;
      left: 4%;
      display: flex;
      border:5px ridge orangered;
      
      
    
     
    }
    
.box1{ 
        transition: .5s;
        position: absolute;
        top: 12%;
        left: 37%;
        height:250px;
        
      display: flex;
      border:5px ridge white;
      
       }
.box2{ 
   

    transition: .5s;
    position: absolute;
    top: 14%;
    right: 10%;
    height: 230px;
    border:6px ridge rgb(16, 230, 16);
  
 display: flex;
 }

 .box:hover {transform: scale(1.3);
    z-index: 3%;}
 .box1:hover {transform: scale(1.3);
    z-index: 3%;}
 .box2:hover {transform: scale(1.3);
    z-index:3%;}
 .heading1:hover {transform: scale(1.2);
    z-index: 3%;
}

#metadata{  background: linear-gradient(rgba(98, 124, 105, 0.993),#1d31318f), url(meghalay.webp) ;
    height: 100vh;
    position: relative;
    background-size: cover;
            }

.paragraph{
            margin-top: 1.5%;
            padding-top: 2%;
            padding-left: 2%;
            font-size: 29px;
            word-spacing: 10px;
            letter-spacing: -2px;
            font-style: oblique;
            color:white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 6px double blue;
}
 
.Topic{ 

    font-size: 4em;
              text-align: center;
              color:rgb(255, 255, 0);
              text-shadow:5px 5px 10px white;
              text-decoration: underline;
              text-transform: capitalize;
              word-spacing: 18px;
              letter-spacing:2px ;
              background-color: darkgray;
              padding-bottom: 1%; padding-left: 1%; padding-right: 1%;
              margin-top: 1%;
              position: absolute;
              margin-left :15%;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              background: linear-gradient(rgba(180, 190, 183, 0.452),#509c9cb6), url(meghalay.webp) ;
              border-width:thick;
              border-width: 8px;
              
              border:5px ridge red;
              border-radius: 1%;
            
            }


             .Topic:hover {transform: scale(1.1);
                z-index:3%;
                transition :.5s;}
.List {
    font-size: 26px;
    color: white;
    text-decoration: underline;
    background-color: rgb(172, 118, 56);
    margin-left: 34%;
    padding-left: 1%; padding-right: 1%; padding-bottom: 1%;
    margin-top: 11%;
    position: absolute;
    text-shadow:5px 5px 10px red;
    font-family: Verdana;
    border-width:thick;
      border-width: 5px;
     border:8px double red;
    }

.List a{
    color:rgb(0, 0, 241);
    text-shadow:5px 5px 10px white; 
    
}
#Explaination{
              background-color: #00ff00;
              height: 82vh;
              
              }

.one h1{
         text-align:center;
         font-size: 5em; 
         padding-bottom: 1%; 
         text-decoration: underline;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         color:black;
         text-shadow: 15px 5px 10px white;
         background-color: yellow;
         position: relative;
         font-style: oblique;
         border:8px inset white;
}
.one h1:hover{
         color: red;
        transition: .5s;
        border: 6px ridge blue ;
}

.one p{
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
        position: absolute;
        border:5px inset red;
       color: black;
       margin-left: 45%;
       background-color: white;
       font-family: Arial, Helvetica, sans-serif;
    }
  
    .explain{
             font-size: 28px;
             margin-right:28%; margin-left: 1%; margin-top: 47%;
             padding-top:1%; 
             position: absolute;
             top:230%;
             border: 6px double red;
}
.festival1{

    margin-top: 4%;
    margin-right: 1%;
    float: right;
    height: 299px;
    width: 385px;
    display: flex;
    border:7px ridge red ;
    

    
}
.festival2 img:hover{
    border: 6px double blue;
    cursor: pointer;
  
}
.festival1 img:hover{
    border: 6px double blue;
    cursor: pointer;
  
}

#explaination1{background-color: #00ff00;
    height: 72vh;

}
.two h1{  text-align:center;
    font-size: 5em; 
     padding-bottom: 1%; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 15px 5px 10px white;
    background-color: yellow;
    position: relative;
    font-style: oblique;
    border:8px inset white;

}
.two h1:hover{
    color: red;
   transition: .5s;
   border: 6px ridge blue ;
   
}
.two p{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    position: absolute;
    border:5px inset red;
   color: black;
   margin-left: 45%;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   
}
.two p:hover{
    color:blue;
}
.one p:hover{
    color:blue;
}
.three p:hover{
    color:blue;
}
.two p:hover {transform: scale(1.9);
    z-index:3%;
    transition :.5s;
}
.explain1{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
}

.festival2 img{
    
   
   margin-top: 2.5%;
    float:right;
    height: 299px;
    display: flex;
    border:7px ridge red ;
  }

#explaination3{background-color: #00ff00;
    height: 99vh;}
    .three h1{  text-align:center;
        font-size: 5em; 
         padding-bottom: 1%; 
        text-decoration: underline;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:black;
        text-shadow: 15px 5px 10px white;
        background-color: yellow;
        position: relative;
        font-style: oblique;
        border:8px inset white;
    
    }
    .three h1:hover{
        color: red;
       transition: .5s;
       border: 6px ridge blue ;
       
    }
    .three p{
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
        position: absolute;
        border:5px inset red;
       color: black;
       margin-left: 45%;
       background-color: white;
       font-family: Arial, Helvetica, sans-serif;
       display: flex;
    }
    .three p:hover {transform: scale(1.9);
        z-index:3%;
        transition :.5s;
    }
    .one p:hover {transform: scale(1.9);
        z-index:3%;
        transition :.5s;
    }
.festival3{
    float:right;
    margin-top: 6%; margin-right: 1%;
    height: 350px;
    display: flex;
    border:7px ridge red ;
}
.festival3 img:hover{
    border: 6px double blue;
    cursor: pointer;
  
}
.List1 {
    font-size: 40px;
    color: white;
    text-decoration: underline;
    background-color: rgb(172, 118, 56);
    margin-left: 38%;
    padding-left: 1%; padding-right: 1%; padding-bottom: 1%;
    position: absolute;
    text-shadow:5px 5px 10px red;
    font-family: Verdana;
    border-width:thick;
    border-width: 5px;
    border:8px double red;
    margin-top: 10%;
    }

.List1 a{
    color:rgb(0, 0, 241);
    text-shadow:5px 5px 10px white; 
    
} 
.Topic1{ 

    font-size: 5em;
              text-align: center;
              color:rgb(255, 255, 0);
              text-shadow:5px 5px 10px white;
              text-decoration: underline;
              text-transform: capitalize;
              word-spacing: 18px;
              letter-spacing:2px ;
              background-color: darkgray;
              padding-bottom: 1%; padding-left: 1%; padding-right: 1%;
              margin-top: 1%;
              position: absolute;
              margin-left :18%;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              background: linear-gradient(rgba(180, 190, 183, 0.452),#509c9cb6), url(meghalay.webp) ;
              border-width:thick;
              border-width: 8px;
              border:5px ridge red;
              border-radius: 1%;}           
.Topic1:hover {transform: scale(1.1);
                z-index:3%;
                transition :.5s;
}
#waterfallsofmeghalaya{
    background:linear-gradient(rgba(32, 27, 27, 0.993),#2a9da18f), url(meghalay.webp) ;
    position: relative;
    height: 51vh;
}


#sidenav{
    width: 280px;
    height: 100vh;
    position: fixed; top: 0;
    background:linear-gradient(rgba(32, 27, 27, 0.993),#2a9da18f), url( meghalay.webp);
    z-index: 2;
    transition:0.5s ;
   

}
nav ol li {
     
    margin: 60px 20px ;

}
nav ol li a {
    text-decoration: none;
    color: white;
    font-family:Product;
    font-size: 20px;
}
#menubtn{
    width: 40px;
    height: 40px;
    background: yellow;
    text-align: center;
    position: fixed;
    right: 8px;
    top: 8px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}
#menubtn img { width:20px;
    margin-top : 10px;


}
#ExplainationA{
    background-color:pink;
    height: 100vh;
    
}
.one1 h1{
    text-align:center;
    font-size: 5em; 
    padding-bottom: 1%; margin-top: 3%; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 15px 5px 10px white;
    background-color: yellow;
    position: relative;
    font-style: oblique;
    border:8px inset white;
    margin-left: 30%; margin-right: 30%;
}
.one1 h1:hover{
    color: red;
   transition: .5s;
   border: 6px ridge blue ;
}

.one1 p{
   text-align: center;
   font-size: 30px;
   text-decoration: underline;
   position: absolute;
   border:5px inset red;
  color: black;
  margin-left: 45%; margin-top: 0%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.one1 p:hover{
    transform: scale(1.5);
   transition: .3s;
   text-decoration: underline;
   font-style: bold;
   border: 5px solid rgb(255, 166, 0);
  
}
.one1 p:hover{
    color: cyan;
   
   background-color:rgb(146, 146, 83);
  
}
.explainA p{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.festivalA img{
    
   
    margin-top: 5%;
     float:right;
     height: 320px;
     display: flex;
     border:7px ridge red ;
     margin-right: 2%;
     transition: .5s;
}
.festivalA img:hover{
    border: 6px double blue;
    cursor: pointer;
  
}
.festivalA img:hover{
    transform: scale(1.1);
}

#ExplainationB{
    background-color:pink;
    height: 100vh;
    
}
.one2 h1{
    text-align:center;
    font-size: 5em; 
    padding-bottom: 1%; margin-top: 3%; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 15px 5px 10px white;
    background-color: yellow;
    position: relative;
    font-style: oblique;
    border:8px inset white;
    margin-left: 30%; margin-right: 30%;
}
.one2 h1:hover{
    color: red;
   transition: .5s;
   border: 6px ridge blue ;
}

.one2 p{
   text-align: center;
   font-size: 30px;
   text-decoration: underline;
   position: absolute;
   border:5px inset red;
  color: black;
  margin-left: 45%; margin-top: 0%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.one2 p:hover{
    transform: scale(1.5);
   transition: .3s;
   text-decoration: underline;
   font-style: bold;
   border: 5px solid rgb(255, 166, 0);
  
}
.one2 p:hover{
    color: cyan;
   
   background-color:rgb(146, 146, 83);
  
}
.explainB p{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.festivalB img{
    
   
    margin-top: 4%;
     float:right;
     height: 320px;
     display: flex;
     border:7px ridge red ;
     margin-right: 2%;
     transition: .5s;
}
.festivalB img:hover{
    border: 6px double blue;
    cursor: pointer;
    transform: scale(1.1);
  
}

#ExplainationC{
    background-color:pink;
    height: 88vh;

}
#acknowledgement{
    height: 100vh;
}
.first{
    margin-left: 15%; margin-right: 22%;
    border: 5px solid greenyellow;
}
.explainC p{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.festivalC img{
    
   
    margin-top: 4%;
     float:right;
     height: 320px;
     display: flex;
     border:7px ridge red ;
     margin-right: 2%;
     transition: .5s;
}
.festivalC img:hover{
    border: 6px double blue;
    cursor: pointer;
    transform: scale(1.1);
  
}

#foodofmeghalaya{
    background:linear-gradient(rgba(32, 27, 27, 0.993),#2a9da18f), url(meghalay.webp) ;
    position: relative;
    height: 51vh;
}

.Topic2{ 

    font-size: 4em;
              text-align: center;
              color:rgb(255, 255, 0);
              text-shadow:5px 5px 10px white;
              text-decoration: underline;
              text-transform: capitalize;
              word-spacing: 18px;
              letter-spacing:2px ;
              background-color: darkgray;
              padding-bottom: 1%; padding-left: 1%; padding-right: 1%;
              margin-top: 1%;
              position: absolute;
              margin-left :18%;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              background: linear-gradient(rgba(180, 190, 183, 0.452),#509c9cb6), url(meghalay.webp) ;
              border-width:thick;
              border-width: 8px;
              border:5px ridge red;
              border-radius: 1%;
}           
.Topic2:hover {transform: scale(1.1);
                z-index:3%;
                transition :.5s;
}
.List2 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    background-color: rgb(172, 118, 56);
    margin-left: 38%;
    padding-left: 1%; padding-right: 1%; padding-bottom: 1%;
    position: absolute;
    text-shadow:5px 5px 10px red;
    font-family: Verdana;
    border-width:thick;
    border-width: 5px;
    border:8px double red;
    margin-top: 11.5%;
    }

.List2 a{
    color:rgb(0, 0, 241);
    text-shadow:5px 5px 10px white; 
    
} 

#ExplainationD{
    background-color:cyan;
    height: 100vh;
    
}
.one4 h1{
    text-align:center;
    font-size: 5em; 
    padding-bottom: 1%; margin-top: 3%; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 15px 5px 10px white;
    background-color: yellow;
    position: relative;
    font-style: oblique;
    border:8px inset white;
    margin-left: 30%; margin-right: 30%;
}
.one4 h1:hover{
    color: red;
   transition: .5s;
   border: 6px ridge blue ;
}
.one4 p{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    position: absolute;
    border:5px inset red;
   color: black;
   margin-left: 45%; margin-top: 0%;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
 }
 .one4 p:hover{
     transform: scale(1.5);
    transition: .3s;
    text-decoration: underline;
    font-style: bold;
    border: 5px solid rgb(255, 166, 0);
   
 }
 .one4 p:hover{
    color: cyan;
   
   background-color:rgb(146, 146, 83);
  
}
.explainD p{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.festivalD img{
    
   
    margin-top: 5%;
     float:right;
     height: 320px;
     display: flex;
     border:7px ridge red ;
     margin-right: 2%;
     transition: .5s;
}
.festivalD img:hover{
    border: 6px double blue;
    cursor: pointer;
  
}
.festivalD img:hover{
    transform: scale(1.1);
}

#ExplainationE{
    background-color:cyan;
    height: 100vh;
    
}

.one5 h1{
    text-align:center;
    font-size: 5em; 
    padding-bottom: 1%; margin-top: 3%; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 15px 5px 10px white;
    background-color: yellow;
    position: relative;
    font-style: oblique;
    border:8px inset white;
    margin-left: 30%; margin-right: 30%;
}

.one5 p{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    position: absolute;
    border:5px inset red;
   color: black;
   margin-left: 45%; margin-top: 0%;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
 }
 .one5 p:hover{
     transform: scale(1.5);
    transition: .3s;
    text-decoration: underline;
    font-style: bold;
    border: 5px solid rgb(255, 166, 0);
   
 }

 .one5 h1:hover{
    color: red;
   transition: .5s;
   border: 6px ridge blue ;
}

.explainE p{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.festivalE img{
    
   
    margin-top: 7%;
     float:right;
     height: 320px;
     display: flex;
     border:7px ridge red ;
     margin-right: 2%;
     transition: .5s;
}
.festivalE img:hover{
    border: 6px double blue;
    cursor: pointer;
  
}
.festivalE img:hover{
    transform: scale(1.1);
}

.one5 p:hover{
    color: cyan;
   
   background-color:rgb(146, 146, 83);
  
}

#ExplainationF{
    background-color:cyan;
    height: 100vh;
    
}
.one6 h1{
    text-align:center;
    font-size: 5em; 
    padding-bottom: 1%; margin-top: 3%; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 15px 5px 10px white;
    background-color: yellow;
    position: relative;
    font-style: oblique;
    border:8px inset white;
    margin-left: 30%; margin-right: 30%;
}

.one6 p{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    position: absolute;
    border:5px inset red;
   color: black;
   margin-left: 45%; margin-top: 0%;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
 }
 .one6 p:hover{
     transform: scale(1.5);
    transition: .3s;
    text-decoration: underline;
    font-style: bold;
    border: 5px solid rgb(255, 166, 0);
   
 }

 .one6 h1:hover{
    color: red;
   transition: .5s;
   border: 6px ridge blue ;
}

.explainF p{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.festivalF img{
    
   
    margin-top: 3%;
     float:right;
     height: 320px;
     display: flex;
     border:7px ridge red ; margin-right: 4%; transition: .5s}
.festivalF img:hover{
    border: 6px double blue;
    cursor: pointer;
  
}
.festivalF img:hover{
    transform: scale(1.3);
}

.one6 p:hover{
    color: cyan;
   
   background-color:rgb(146, 146, 83);
  
}


#tribesofmeghalaya{
    background:linear-gradient(rgba(32, 27, 27, 0.993),#2a9da18f), url(meghalay.webp) ;
    position: relative;
    height: 51vh;
}

.Topic3{ 

    font-size: 4em;
              text-align: center;
              color:rgb(255, 255, 0);
              text-shadow:5px 5px 10px white;
              text-decoration: underline;
              text-transform: capitalize;
              word-spacing: 18px;
              letter-spacing:2px ;
              background-color: darkgray;
              padding-bottom: 1%; padding-left: 1%; padding-right: 1%;
              margin-top: 1%;
              position: absolute;
              margin-left :18%;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              background: linear-gradient(rgba(180, 190, 183, 0.452),#509c9cb6), url(meghalay.webp) ;
              border-width:thick;
              border-width: 8px;
              border:5px ridge red;
              border-radius: 1%;
}           
.Topic3:hover {transform: scale(1.1);
                z-index:3%;
                transition :.5s;
}
.List3 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    background-color: rgb(172, 118, 56);
    margin-left: 38%;
    padding-left: 1%; padding-right: 1%; padding-bottom: 1%;
    position: absolute;
    text-shadow:5px 5px 10px red;
    font-family: Verdana;
    border-width:thick;
    border-width: 5px;
    border:8px double red;
    margin-top: 11.5%;
    }

.List3 a{
    color:rgb(0, 0, 241);
    text-shadow:5px 5px 10px white; 
    
} 


#ExplainationG{
    background-color:pink;
    height: 110vh;
    
}
.one7 h1{
    text-align:center;
    font-size: 5em; 
    padding-bottom: 1%; margin-top: 3%; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 15px 5px 10px white;
    background-color: yellow;
    position: relative;
    font-style: oblique;
    border:8px inset white;
    margin-left: 30%; margin-right: 30%;
}

.one7 h1:hover{
    color: red;
   transition: .5s;
   border: 6px ridge blue ;
}

.one7 p{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    position: absolute;
    border:5px inset red;
   color: black;
   margin-left: 45%; margin-top: 0%;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
 }
    
 .one7 p:hover{
    transform: scale(1.5);
   transition: .3s;
   text-decoration: underline;
   font-style: bold;
   border: 5px solid rgb(255, 166, 0);
  
}

.one7 p:hover{
    color: cyan;
   
   background-color:rgb(146, 146, 83);
  
}

.explainG p{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.festivalG img{
    
   
    margin-top: 10%;
     float:right;
     height: 320px;
     display: flex;
     border:7px ridge red ;
     margin-right: 2%;
     transition: .5s;
}
.festivalG img:hover{
    border: 6px double blue;
    cursor: pointer;
    transform: scale(1.1);
  
}

#ExplainationH{
    background-color:pink;
    height: 100vh;
    
}
.one8 h1{
    text-align:center;
    font-size: 5em; 
    padding-bottom: 1%; margin-top: 3%; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 15px 5px 10px white;
    background-color: yellow;
    position: relative;
    font-style: oblique;
    border:8px inset white;
    margin-left: 30%; margin-right: 30%;
}

.one8 h1:hover{
    color: red;
   transition: .5s;
   border: 6px ridge blue ;
}

.one8 p{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    position: absolute;
    border:5px inset red;
   color: black;
   margin-left: 45%; margin-top: 0%;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
 }
    
 .one8 p:hover{
    transform: scale(1.5);
   transition: .3s;
   text-decoration: underline;
   font-style: bold;
   border: 5px solid rgb(255, 166, 0);
  
}

.one8 p:hover{
    color: cyan;
   
   background-color:rgb(146, 146, 83);
  
}

.explainH p{
    font-size: 30px;
    padding-left: 1%;
     margin-right: 37%; margin-top: 3.5%;
    display: flex;
    position: absolute;
    border:6px double red ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.festivalH img{
    
   
    margin-top: 3.5%;
     float:right;
     height: 450px;
     display: flex;
     border:7px ridge red ;
     margin-right: 5%;
     transition: .5s;
}
.festivalH img:hover{
    border: 6px double blue;
    cursor: pointer;
    transform: scale(1.1);
  
}





